body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}

#dropZone {
	width: 100px; 
	height: 100px; 
	background-color: red;
}