body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
	color: #fff;
	font-size: 13px;
	padding:10px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#controls{
	position:absolute;
	background-color: #000;
	top: 230px;
	right:10px;
	width:250px;
}

#audioDebug{
	position:absolute;
	background-color: #000;
	width: calc(100% - 270px);
	height: calc(100% - 20px);
}

#info{
	position:absolute;
	background-color: #000;
	top: 0px;
	right:10px;
	width:250px;
	height: 150px;
	line-height: 20px;
}

a {
	color: #fff;
	text-decoration: none;	
	border-bottom:thin dotted #999;			
}

h2{
	font-weight: 100;
	font-size: 24px;
}

#preloader{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top:-20px;
	background:url("./images/loader.gif") center center no-repeat;
}
